@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  html {
    /* scroll-behavior: smooth; */
  }

  button{
    /* @apply bg */
  }

  p{
    line-height: var(--jx-lh) !important;
    @apply text-sm;
  }

  body {
    @apply
    bg-primary
    text-main
    md:text-base text-sm;
  }
  code{
    @apply bg-secondary px-2 py-1 rounded;
  }
  h1 {
    @apply lg:text-5xl
    text-3xl
    font-extrabold;
  }

  h2 {
    @apply lg:text-4xl
    text-3xl
    font-bold;
  }

  h3 {
    @apply lg:text-3xl
    text-xl
    font-medium;
  }

  h4 {
    @apply lg:text-2xl
    text-lg
    font-medium;
  }
}

.menu {
  @apply list-none flex;
}

.menu a{
  @apply lg:text-base md:text-xs text-base;
}

.card-wrapper {
  @apply
  grid
  lg:grid-cols-3
  md:grid-rows-1
  gap-4
  grid-rows-1;
}

.section {
  @apply lg:px-16 md:px-12 px-10;
}

.section:not(.lil-desc) {
  /* @apply md:py-40 py-10; */
}

.inner-content {
  @apply flex flex-col space-y-10;
}

.title{
  @apply text-center font-bold md:block hidden text-2xl text-secondary;

}