@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  html {
    /* scroll-behavior: smooth; */
  }

  body {
    @apply
    bg-primary
    text-main
    md:text-base text-sm;
  }
  code{
    @apply bg-secondary px-2 py-1 rounded;
  }
  h1 {
    @apply lg:text-5xl
    text-2xl
    font-extrabold;
  }
}

.menu {
  @apply list-none flex;
}

.menu a{
  @apply lg:text-base md:text-xs text-base;
}

.card-wrapper {
  @apply
  grid
  lg:grid-cols-3
  md:grid-rows-1
  gap-4
  grid-rows-1;
}

section:not(#hello){
  /* @apply space-y-6; */
}

.inner-content {
  @apply flex flex-col space-y-10;
}